-- Fix user profile creation trigger
-- This ensures that when a user signs up through Supabase Auth, 
-- a corresponding profile is created in the public.users table

-- First, create the function that will handle user creation
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS TRIGGER AS $$
BEGIN
  INSERT INTO public.users (auth_id, email, first_name, last_name, role, status, is_approved)
  VALUES (
    NEW.id,
    NEW.email,
    COALESCE(NEW.raw_user_meta_data->>'first_name', NEW.raw_user_meta_data->>'display_name', split_part(NEW.email, '@', 1)),
    NEW.raw_user_meta_data->>'last_name',
    'user', -- Default role
    'active', -- Default status
    true -- Auto-approve users for now
  )
  ON CONFLICT (auth_id) DO UPDATE SET
    email = EXCLUDED.email,
    updated_at = NOW();
  
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Create the trigger on auth.users
DROP TRIGGER IF EXISTS on_auth_user_created ON auth.users;
CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE FUNCTION public.handle_new_user();

-- Also create a function to handle profile updates
CREATE OR REPLACE FUNCTION public.handle_user_update()
RETURNS TRIGGER AS $$
BEGIN
  UPDATE public.users 
  SET 
    email = NEW.email,
    first_name = COALESCE(NEW.raw_user_meta_data->>'first_name', NEW.raw_user_meta_data->>'display_name', first_name),
    last_name = COALESCE(NEW.raw_user_meta_data->>'last_name', last_name),
    updated_at = NOW()
  WHERE auth_id = NEW.id;
  
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Create the update trigger
DROP TRIGGER IF EXISTS on_auth_user_updated ON auth.users;
CREATE TRIGGER on_auth_user_updated
  AFTER UPDATE ON auth.users
  FOR EACH ROW EXECUTE FUNCTION public.handle_user_update();

-- Update RLS policies to be more permissive for user creation
DROP POLICY IF EXISTS "Users can view own profile" ON public.users;
CREATE POLICY "Users can view own profile" ON public.users
    FOR SELECT USING (auth.uid() = auth_id OR auth.role() = 'service_role');

DROP POLICY IF EXISTS "Users can update own profile" ON public.users;
CREATE POLICY "Users can update own profile" ON public.users
    FOR UPDATE USING (auth.uid() = auth_id OR auth.role() = 'service_role');

-- Allow service role to insert new users (for the trigger)
CREATE POLICY "Service role can insert users" ON public.users
    FOR INSERT WITH CHECK (auth.role() = 'service_role');

-- Create a manual profile for existing john.doe@example.com user if it exists in auth.users
DO $$
DECLARE
    user_record RECORD;
BEGIN
    -- Check if john.doe@example.com exists in auth.users
    SELECT id, email INTO user_record 
    FROM auth.users 
    WHERE email = 'john.doe@example.com';
    
    IF FOUND THEN
        -- Insert profile if it doesn't exist
        INSERT INTO public.users (auth_id, email, first_name, last_name, role, status, is_approved)
        VALUES (
            user_record.id,
            user_record.email,
            'John',
            'Doe',
            'user',
            'active',
            true
        )
        ON CONFLICT (auth_id) DO NOTHING;
    END IF;
END $$;
